<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.network" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>NetWork</name><js-module name="NetWork" src="www/NetWork.js"><clobbers target="cordova.plugin.NetWork" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="NetWork"><param name="ios-package" value="NetWork" /></feature></config-file><source-file src="src/ios/NetWork.m" /></platform></plugin>
